@font-face {
  font-family:'HankenGrotesk';
  font-display: swap;
  font-weight: 100 700;
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf')
        format('truetype');
}

:root {
  --clr-primary-red: 0, 100%, 67%;
  --clr-primary-yellow: 39, 100%, 56%;
  --clr-primary-green-teal: 166, 100%, 37%;
  --clr-primary-cobalt-blue: 234, 85%, 45%;

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);

  --gradient-bg: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%));

  --gradient-circle: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0));

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 800;

  --fs-400: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: var(--fs-400);
  background-color: var(--clr-neutral-pale-blue);
}

@media (min-width: 500px) {
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
}

.card__section-title {
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
}

.card__container {
  border-radius: var(--fs-800);
  background-color: var(--clr-neutral-white);
  overflow: hidden;
  max-width: 736px;
  max-height: 512px;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

}

.card__content {
  /* position: relative; */
  display: flex;
  justify-content: space-between;

}

.card__results {
  background: var(--gradient-bg);
  border-radius: var(--fs-800);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__results h1 {
  color: var(--clr-neutral-light-lavender);
  font-weight: var(--fw-bold);
}

.card__results-score {
  background: var(--gradient-circle);
  border-radius: 50%;
  padding: 3.4rem 3.75rem 2.875rem;
  color: var(--clr-neutral-light-lavender);
  font-weight: var(--fw-bold);
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__results-score span {
  font-size: 4.5rem;
  color: var(--clr-neutral-white);
  line-height: 4.5rem;
}

.card__great {
  text-align: center;
}

.card__great p {
  color: var(--clr-neutral-light-lavender);
  font-weight: var(--fw-regular);
}

.card__great p:first-of-type {
  font-size: var(--fs-800);
  line-height: 2.6rem;
  color: var(--clr-neutral-white);
  font-weight: var(--fw-black);
}

.card__summary-results {
  display: grid;
  grid-template-rows: auto;
  row-gap: 0.57rem;
  justify-content: center;
  padding: 0 2.5rem;
}

.card__result-categories {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1rem;
}

.card__result-item {
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  font-size: var(--fs-400);
  background-color: hsl(var(--item-color), .1);
}

.card__result-item div {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.card__result-score {
  color: hsl(224, 30%, 27%, 0.5)
}

.card__result-score span {
  font-weight: var(--fw-black);
  color: var(--clr-neutral-dark-gray-blue);
}

.card__result-item svg {
  stroke: hsl(var(--item-color));
}

.card__category-title {
  color: hsl(var(--item-color));
  font-weight: var(--fw-regular);
  font-size: inherit;
}

.reaction {
  --item-color: var(--clr-primary-red);
}

.memory {
  --item-color: var(--clr-primary-yellow);

}

.verbal {
  --item-color: var(--clr-primary-green-teal);
}

.visual {
  --item-color: var(--clr-primary-cobalt-blue);
}


button {
  border-radius: 8rem;
  background: var(--clr-neutral-dark-gray-blue);
  font-size: var(--fs-400);
  color: var(--clr-neutral-white);
  line-height: 1.28;
  border: none;
  padding: 1rem 6.6rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background: var(--gradient-bg);
}